<div class="hall-block">
  <div class="search-block">
    <div class="d-block search-line-block">
      <label>行业</label>
      <select name="" id="big-industry" class="form-control w-20 d-inline-block" [(ngModel)]="bigIndustry"
              (change)="loadSmallIndustry(bigIndustry)">
        <option value="">请选择</option>
        <option value='{{item.code}}' *ngFor="let item of bigIndustryList">{{item.name}}</option>
      </select>
      <select name="" id="small-industry" class="form-control w-20 d-inline-block" [(ngModel)]="smallIndustry">
        <option value="">请选择</option>
        <option value='{{item.code}}' *ngFor="let item of smallIndustryList">{{item.name}}</option>
      </select>
      <p class="d-inline-block"><input type="checkbox" [(ngModel)]="currentIndustry">当前经营</p>
      <p class="d-inline-block"><input type="checkbox" [(ngModel)]="fitIndustry">适合经营</p>
      <p class="d-inline-block"><input type="checkbox" [(ngModel)]="unfitIndustry">不宜经营</p>
    </div>
    <div class="d-block search-line-block">
      <label>关键字</label>
      <input type="text" placeholder="店名/位置" class="form-control d-inline-block w-20" [(ngModel)]="shopName">
      <input type="text" placeholder="手机号码" class="form-control d-inline-block w-20" [(ngModel)]="shopPhoneNumber">
    </div>
    <div class="d-block search-line-block">
      <label>区域</label>
      <select name="" id="bigIndustry" class="form-control  d-inline-block w-20 " [(ngModel)]="city"
              (change)="loadDistrict(city)">
        <option value="">请选择</option>
        <option value="{{item.id}}" *ngFor="let item of cityList">{{item.name}}</option>
      </select>
      <select name="" id="smallIndustry" class="form-control w-20 d-inline-block" [(ngModel)]="district">
        <option value="">请选择</option>
        <option value="{{item.id}}" *ngFor="let item of districtList">{{item.name}}</option>
      </select>
      <p class="d-inline-block text-blue m-left-10 m-ritght-5 text-underline cursor-hand" (click)="open(mapModal)">地图定位</p>
      <p class="d-inline-block m-h-5 text-muted">{{latitude}}</p>
      <p class="d-inline-block m-h-5 text-muted">{{longitude}}</p>
      <i *ngIf="latitude!=''" class="iconfont icon-delete text-muted" (click)="deletePosition()"></i>
    </div>
    <div class="d-block search-line-block">
      <label>位置描述</label>
      <select name="" id="position-descript" class="form-control w-20 d-inline-block"
              [(ngModel)]="positionDescription">
        <option value="">请选择</option>
        <option value="item.value" *ngFor="let item of positionDescriptionList">{{item.value_description}}</option>
      </select>
      <p class="d-inline-block m-left-10"><input type="checkbox" [(ngModel)]="nearStreet">临街</p>
    </div>
    <div class="d-block search-line-block">
      <label>面积</label>
      <input type="text" placeholder="最小" class="form-control w-20 d-inline-block" [(ngModel)]="minArea">-
      <input type="text" placeholder="最大" class="form-control w-20 d-inline-block" [(ngModel)]="maxArea">平米
    </div>
    <div class="d-block search-line-block">
      <label>门宽</label>
      <input type="text" placeholder="最短" class="form-control w-20 d-inline-block" [(ngModel)]="mindoorWidth">-
      <input type="text" placeholder="最长" class="form-control w-20 d-inline-block" [(ngModel)]="maxdoorWidth">米
    </div>
    <button class="btn btn-primary special-btn" (click)="search()">搜索</button>

  </div>
  <div class="block-divider greyBg"></div>
  <div class="result-block">
    <table>
      <tr class="d-flex flex-row justify-content-around">
        <th class="p-2 p-lg-2">建筑物业</th>
        <th class="p-2 p-lg-2">面积</th>
        <th class="p-2 p-lg-2">当前店铺</th>
        <th class="p-2 p-lg-2">租金</th>
        <th class="p-2 p-lg-2">转让情况</th>
        <th class="p-2 p-lg-2">操作</th>
      </tr>
      <tbody>
     <!-- <tr  *ngFor="let item of infoList.estate_list" class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>{{item.estate_building.district}}</span><span class="grey-block bg-grey text-white">{{item.estate_building.estate_type | superFacility}}</span></p>
          <p><span>{{item.estate_building.address}}</span></p>
          <p><span class="text-muted">{{item.estate_building.near_street | nearStreet}}</span><span class="text-muted">{{item.estate_building.location_type | locationType }}</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">{{item.estate_area.area}}平方米</span></p>
          <p><span class="text-muted">门宽：{{item.estate_area.door_width}}m</span><span class="text-muted">层高：{{item.estate_area.floor_height}}m</span></p>
          <p><span class="text-muted">开间：{{item.estate_area.max_width}}m</span><span class="text-muted">进深：{{item.estate_area.max_deep}}m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>{{item.estate_shop.shop_name}}</span></p>
          <p><span class="text-muted">{{item.estate_shop.operate_industry | industry}}</span><span class="grey-block bg-grey text-white" *ngIf="item.estate_shop.is_famous">品牌</span><span
            class="text-muted"><{{item.estate_shop.distance*1000 }}m</span></p>
          <p><span class="text-muted">老板：{{item.estate_shop.owner_name}}</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">{{item.estate_rent.rent}}{{item.estate_rent.rent_unit | rentUnit}}</span></p>
          <p><span class="text-muted">支付：{{item.estate_rent.pay_way}}</span></p>
          <p><span class="text-muted">租约：{{item.estate_rent.rent_period}}月（剩{{item.estate_shop.leaved_contract_period}}月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">{{item.estate_transfer.transfer_fee}}万</span></span></p>
          <p><span class="text-muted">{{item.estate_transfer.transfer_content}}</span></p>
          <p><span class="text-muted" *ngIf="item.estate_transfer.is_empty_transfer">可空转</span></p>
          <p><span class="text-muted" *ngIf="!item.estate_transfer.is_empty_transfer">不可空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection/1']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>-->
      <tr class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>南山区</span><span class="grey-block bg-grey text-white">商铺</span></p>
          <p><span>公园道大厦1507室1234123123123123123</span></p>
          <p><span class="text-muted">临街</span><span class="text-muted">街道转角</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="color-red">158平方米</span></p>
          <p><span class="text-muted">门宽：2.5m</span><span class="text-muted">层高：3m</span></p>
          <p><span class="text-muted">开间：3.2m</span><span class="text-muted">进深：3.6m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>肯德基（公园道店）</span></p>
          <p><span class="text-muted">快餐</span><span class="grey-block bg-grey text-white">品牌</span><span
            class="text-muted"><100m</span></p>
          <p><span class="text-muted">老板：张先生</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">20000元/月</span></p>
          <p><span class="text-muted">支付：一月一付</span></p>
          <p><span class="text-muted">租约：24月（剩12月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">230万</span></span></p>
          <p><span class="text-muted">含家具设备等</span></p>
          <p><span class="text-muted">可以空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>
      <tr class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>南山区</span><span class="grey-block bg-grey text-white">商铺</span></p>
          <p><span>公园道大厦1507室1234123123123123123</span></p>
          <p><span class="text-muted">临街</span><span class="text-muted">街道转角</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="color-red">158平方米</span></p>
          <p><span class="text-muted">门宽：2.5m</span><span class="text-muted">层高：3m</span></p>
          <p><span class="text-muted">开间：3.2m</span><span class="text-muted">进深：3.6m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>肯德基（公园道店）</span></p>
          <p><span class="text-muted">快餐</span><span class="grey-block bg-grey text-white">品牌</span><span
            class="text-muted"><100m</span></p>
          <p><span class="text-muted">老板：张先生</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">20000元/月</span></p>
          <p><span class="text-muted">支付：一月一付</span></p>
          <p><span class="text-muted">租约：24月（剩12月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">230万</span></span></p>
          <p><span class="text-muted">含家具设备等</span></p>
          <p><span class="text-muted">可以空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>
      <tr class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>南山区</span><span class="grey-block bg-grey text-white">商铺</span></p>
          <p><span>公园道大厦1507室1234123123123123123</span></p>
          <p><span class="text-muted">临街</span><span class="text-muted">街道转角</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="color-red">158平方米</span></p>
          <p><span class="text-muted">门宽：2.5m</span><span class="text-muted">层高：3m</span></p>
          <p><span class="text-muted">开间：3.2m</span><span class="text-muted">进深：3.6m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>肯德基（公园道店）</span></p>
          <p><span class="text-muted">快餐</span><span class="grey-block bg-grey text-white">品牌</span><span
            class="text-muted"><100m</span></p>
          <p><span class="text-muted">老板：张先生</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">20000元/月</span></p>
          <p><span class="text-muted">支付：一月一付</span></p>
          <p><span class="text-muted">租约：24月（剩12月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">230万</span></span></p>
          <p><span class="text-muted">含家具设备等</span></p>
          <p><span class="text-muted">可以空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>
      <tr class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>南山区</span><span class="grey-block bg-grey text-white">商铺</span></p>
          <p><span>公园道大厦1507室1234123123123123123</span></p>
          <p><span class="text-muted">临街</span><span class="text-muted">街道转角</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="color-red">158平方米</span></p>
          <p><span class="text-muted">门宽：2.5m</span><span class="text-muted">层高：3m</span></p>
          <p><span class="text-muted">开间：3.2m</span><span class="text-muted">进深：3.6m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>肯德基（公园道店）</span></p>
          <p><span class="text-muted">快餐</span><span class="grey-block bg-grey text-white">品牌</span><span
            class="text-muted"><100m</span></p>
          <p><span class="text-muted">老板：张先生</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">20000元/月</span></p>
          <p><span class="text-muted">支付：一月一付</span></p>
          <p><span class="text-muted">租约：24月（剩12月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">230万</span></span></p>
          <p><span class="text-muted">含家具设备等</span></p>
          <p><span class="text-muted">可以空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>
      <tr class="d-flex flex-row justify-content-around border-radius-10 m-top-20">
        <td class="p-2 p-lg-2">
          <p><span>南山区</span><span class="grey-block bg-grey text-white">商铺</span></p>
          <p><span>公园道大厦1507室1234123123123123123</span></p>
          <p><span class="text-muted">临街</span><span class="text-muted">街道转角</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="color-red">158平方米</span></p>
          <p><span class="text-muted">门宽：2.5m</span><span class="text-muted">层高：3m</span></p>
          <p><span class="text-muted">开间：3.2m</span><span class="text-muted">进深：3.6m</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>肯德基（公园道店）</span></p>
          <p><span class="text-muted">快餐</span><span class="grey-block bg-grey text-white">品牌</span><span
            class="text-muted"><100m</span></p>
          <p><span class="text-muted">老板：张先生</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span class="text-danger">20000元/月</span></p>
          <p><span class="text-muted">支付：一月一付</span></p>
          <p><span class="text-muted">租约：24月（剩12月）</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p><span>转让费：<span class="text-danger">230万</span></span></p>
          <p><span class="text-muted">含家具设备等</span></p>
          <p><span class="text-muted">可以空转</span></p>
        </td>
        <td class="p-2 p-lg-2">
          <p>
            <button class="btn btn-primary"><a [routerLink]="['dataCollection']">编辑</a></button>
          </p>
          <p>
            <button class="btn btn-primary"><a [routerLink]="['peripheralData']">周边分析</a></button>
          </p>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
  <div class="page-container text-right">
    <ngb-pagination class="d-inline-block" (pageChange)="pageChange($event)" [collectionSize]="totalResultCount" [(page)]="pageNo" aria-label="Default pagination" [maxSize]="5"  [boundaryLinks]="true"></ngb-pagination>

  </div>

</div>

<ng-template #mapModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">地图定位</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="map-modal-block">
      <div class="choice-block d-block">
        <span>筛选范围:</span>
        <ul class="d-inline-block">
          <li *ngFor="let item of zoomList"><input name="mapRatio" type="radio" value={{item.code}}
                                                   [(ngModel)]='item.code' (click)="zoomChange(item)">{{item.name}}
          </li>.
        </ul>
      </div>
      <div class="map-container">
        <app-baidu-map [address]="mapAddress" [zoom]="zoomLevel" (getLocation)="geoLocation($event)"></app-baidu-map>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('0')">取消</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('1')">确定</button>
  </div>
</ng-template>
