.title-line{
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 0px 80px;
  background: lightcoral;
}
.company-logo{
  font-size: 30px;
  color: white;
}
.plat-intro{
  margin-left: 20px;
  font-size: 20px;
}
.modal_activate_btn{
  text-decoration: underline;
}

.city{
  margin-left: 20px;
}
.city-list-container{
  padding: 20px 50px;

}
.city-list-container ul{
  list-style: none;
  padding: 0px;
}
.city-list-container li{
  height: 50px;
  line-height: 50px;
}
.city-list-container li a{
  text-decoration: underline;
  color:#467ac1;
  cursor: pointer;
}
