<p class="title-line">
<span class="company-logo">铺铺旺</span>
  <span class="plat-intro">大数据平台</span>

  <span class="city">
      <app-geolocation (getLocation)="getCurrentCity($event)"></app-geolocation>
    {{currentCity}}
  </span>
  <span (click)="openCityListModal(cityListModal)" class="modal_activate_btn text text-blue cursor-hand">切换</span>
</p>

<ng-template #cityListModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">城市切换</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="city-list-container">
     <ul>
       <li *ngFor="let item of cityList"><a (click)="cityItemClick(item)" [ngClass]="{'text-danger':item.selected}">{{item.name}}</a></li>
     </ul>
     <p class="text-muted">其他城市暂未开放</p>
   </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('0')">取消</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('1')">确定</button>
  </div>
</ng-template>
