p{
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 0px 80px;
  background: lightcoral;
}
.company-logo{
  font-size: 30px;
  color: white;
}
.plat-intro{
  margin-left: 20px;
  font-size: 20px;
}
.modal_activate_btn{
  text-decoration: underline;
}

.city{
  margin-left: 20px;
}
