.page-container{
  padding: 60px 80px;
}
.icon{
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top;
  color: gray;
}

.info-block{
  padding-left: 30px;
}
.info-block label{
  color: grey;
}

.radar-chart {
  height: 300px;
}
.chart {
  height: 300px;
}
.chart-container{
  display: block;
  overflow: hidden;
}
.echart-info-block{
  padding: 70px;
  overflow: hidden;
}
.echart-harf-block{
  display: block;
  float: left;
  width: 50%;
}
.echart-three-block{
  width: 30%;
  display: block;
  float: left;
}
.info-line-half{
  width: 50%;
  float: left;
}
.echart-industry-info-block{
  width: 25%;
  display: block;
  float: left;
}
.echart-seven-block{
  width: 70%;
  display: block;
  float: left;
}
.page-title{
  font-size: 36px;
  font-weight: 600;
}
