<div class="page-container">
  <div class="header-block">
    <p class="d-inline-block page-title">周边分析</p>
    <p class="d-inline-block m-left-10"><span class="title-info">火锅店</span><span class="title-info">经度：113.789</span><span
      class="title-info">维度：456.789</span></p>
    <p class="d-inline-block m-left-10"><i class="iconfont icon-shuaxin"></i>刷新</p>
  </div>
  <div>
    <div class="d-block m-top-20">
      <p class="title-line"><i class="icon iconfont icon-gongjiaoche"></i>交通区位</p>
      <div class="info-block" *ngIf="trafficInfo.metro">
        <label class="text-muted">500米内的地铁站</label>
        <ol>
          <li>地铁站名:<span *ngFor="let item of trafficInfo.metro.metro_stations;let i=index;">{{item}}<span *ngIf="i != trafficInfo.metro.metro_stations.length-1">、</span></span></li>
          <li><span *ngFor="let item of trafficInfo.metro.metro_lines_pass_by;let i=index;">{{item}} <span *ngIf="i != trafficInfo.metro.metro_lines_pass_by.length-1">、</span></span></li>
        </ol>
      </div>
      <div class="info-block"  *ngIf="trafficInfo.bus">
        <label class="text-muted">300米内的公交站</label>
        <ol>
          <li>公交站名:<span *ngFor="let item of trafficInfo.bus.bus_stations;let i=index;">{{item}}<span *ngIf="i != trafficInfo.bus.bus_stations.length-1">、</span></span></li>
          <li><span *ngFor="let item of trafficInfo.bus.bus_lines_pass_by;let i=index;">{{item}}<span *ngIf="i != trafficInfo.bus.bus_lines_pass_by.length-1">、</span></span></li>
        </ol>
      </div>
    </div>
    <div class="d-block m-top-20">
      <p class="title-line"><i class="icon iconfont icon-renwu"></i>聚客来源</p>
      <div class="chart-container">
        <div echarts [options]="radarOption" class="radar-chart w-30 float-left"></div>
        <div class="echart-info-block float-left radar-chart-connect-info-block" >
          <p class="w-50 float-left"><label for="">住宅小区：</label><span>{{customer.housing.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
          <p class="w-50 float-left"><label for="">学校：</label><span>{{customer.schools.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
          <p class="w-50 float-left"><label for="">写字楼：</label><span>{{customer.office_building.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
          <p class="w-50 float-left"><label for="">医院：</label><span>{{customer.hospitals.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
          <p class="w-50 float-left"><label for="">商场：</label><span>{{customer.markets.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
          <p class="w-50 float-left"><label for="">交通枢纽：</label><span>{{customer.traffic_hinge.count}}</span><span (click)="openConnectInfoModal(infoDetail)" class="cursor-hand text-blue"> > </span></p>
        </div>
      </div>
    </div>
    <div class="d-block m-top-20"  *ngIf="population">
      <p class="title-line"><i class="icon iconfont icon-tubiao"></i>周边人口</p>

      <div class="chart-container">
        <div echarts [options]="populationOption" class="peripheral-chart w-50 float-left"></div>
        <div class="w-50 echart-info-block float-left peripheral-chart-connect-info-block">
          <p><label for="">工作：</label><span>{{population.office_building_population}}</span></p>
          <p><label for="">居住：</label><span>{{population.community_population}}</span></p>
          <p><label for="">上学：</label><span>{{population.school_population}}</span></p>
          <p><label for="">流动：</label><span>{{population.mobile_population}}</span></p>
        </div>
      </div>

    </div>
    <div class="d-block m-top-20" *ngIf="industryInfo">
      <p class="title-line"><i class="icon iconfont icon-home-active"></i>周边业态</p>
      <div class="chart-container">
        <div echarts [options]="barChartOption" class="industry-chart w-50 float-left"></div>
        <div class="w-25 echart-info-block float-left industry-chart-connect-info-block">
          <p class="text-muted">协同行业</p>
          <p *ngFor=" let item of industryInfo.cooperative_shops"><label for="">{{item.name}}</label><span class="text-muted d-inline-block m-h-5">({{item.industry}})</span><<span class="d-inline-block m-h-5">{{item.distance}}</span></p>
        </div>
        <div class="w-25 echart-info-block float-left industry-chart-connect-info-block">
          <p class="text-muted">竞争业态</p>
          <p *ngFor=" let item of industryInfo.competitive_shops"><label for="">{{item.name}}</label><span class="text-muted d-inline-block m-h-5">({{item.industry}})</span><<span class="d-inline-block m-h-5">{{item.distance}}</span></p>
          </div>
      </div>
    </div>
  </div>


</div>

<ng-template #infoDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">详细信息</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="city-list-container">
      <ul>
        <li *ngFor="let item of cityList"><a (click)="cityItemClick(item)" [ngClass]="{'text-danger':item.selected}">{{item.name}}</a></li>
      </ul>
      <p class="text-muted">其他城市暂未开放</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('0')">取消</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('1')">确定</button>
  </div>
</ng-template>

