.page-container{
  padding: 20px;
}
.icon{
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top;
  color: gray;
}

.info-block{
  padding-left: 30px;
}
.info-block label{
  color: grey;
}

.radar-chart {
  height: 300px;
}
.chart {
  height: 300px;
}

.page-title{
  font-size: 36px;
  font-weight: 600;
}
