app-header{
  display: block;
}
app-side-nav{
  height: 100%;
  display:block;
}

.content{
  position: relative;
}
app-side-nav{
  width: 200px;
}
/*router-outlet{

}*/

.page-container{
  position: absolute;
  left: 200px;
  top: 0px;
  width:88%;
  height: 100%;
}
app-footer{
  position: fixed;
}
