app-header {
  display: block;
}

.content {
  overflow: hidden;
}

app-side-nav {
  width: 12%;
  border-right: 1px solid rgba(0, 0, 0, .125);
}

.page-container {
  width: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
}

