<div class="container">
  <p class="plat-word">
    欢迎使用铺铺旺大数据平台
  </p>
  <div class="data-detail">
    <p>目前已收录（{{currentCity}}）</p>
    <ul>
      <li>
        <p class="number-line">{{shopCount}}</p>
        <p>商铺数据</p>
      </li>
      <li>
        <p  class="number-line">{{bossCount}}</p>
        <p>老板数据</p>
      </li>
      <li>
        <span (click)="navigateRelease()" class="text-underline d-inline-block cursor-hand text-center text-blue">  <!-- [routerLink]="['dataCollection']"-->
          发布店铺信息>>
        </span>
      </li>
    </ul>
  </div>
  <div class="warm-tips">
    <p>温馨提示</p>
    <ol>
      <li>物业建筑指店铺所在的实体铺面，店铺转出、停业后仍存在，请勿重复录入；</li>
      <li>医院、学校、公交站点、公交线路、小区、写字楼等数据，未开放录入，如有错误和补充请联系技术人员；</li>
      <li>是您的每一次录入和编辑，让大数据系统更加完善，助您工作、生活愉快</li>
    </ol>
  </div>
</div>

