.upload-block{
  display: inline-block;
}
.old-images-block{
  display: inline-block;
  width: 100px;
  position: relative;
  margin-right: 10px;
}
.new-image-block{
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.upload-btn{
  line-height: 45px;
  margin-top: 0px;
  font-size: 40px;
  width: 55px;
  height: 55px;
  color: #a9a9a9;
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
}
.img-item-box img{
  width: 100px;
}

i{
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
}
